 h2{
    text-align: center;
    padding: 10px;
}
ul{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(4, 0, 255);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 15px -2px gray;
    position: sticky;
    top: 0;
}
p {
    background-color: lightblue;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
table {
    width: 70%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
button {
    background-color: rgb(4, 0, 255);
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
}
footer {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
hr {
    border: 2px solid black;
}
#topbtn{
   background-color: rgb(4, 0, 255);
    color: white;
    border-radius: 10px;
    padding: 8px 15px;
    position: fixed;
    bottom: 20px;
}
    

pre{
    background-color: #e0e0e0;
    padding: 10px;
    overflow-x: auto;
}
img{
     border-radius: 50%;
     position: center;
}
div{
    text-align: center;
}
.top-btn-container {
    display: flex;
    justify-content: flex-end;
}

.top-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 18px;
    background-color: rgb(32, 59, 126);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
}

.top-btn:hover {
    background-color: rgb(32, 59, 126);
}
